doctype html
html(lang='en')
    head
        script(type='text/javascript', src='/reload/reload.js')
        meta(charset='UTF-8')
        title DESCRIPTION
    body
        h1 Developer Igor Stcherbina
        h3 Redis cluster config
        pre= SERVER_HOST
